.library-container {
  height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
  overflow: hidden;
}

.library-panel-group {
  height: 100%;
}

.library-scrollarea {
  height: 100%;
  overflow: auto;
}
.collection h3{
  max-width: 1px;
  min-width: 100%;
}
.collection  .collection-title{
  max-width: 1px;
  min-width: 80%;
}